<div ng-controller="registerController as registerCtrl">
  <h1>Register</h1>

  <form class="navbar-form navbar-right" role="form" ng-submit="registerCtrl.register()" >
    <div class="form-group">
      <input type="text" style="width:10em;" placeholder="User name" class="form-control" ng-model="registerCtrl.user.username">
    </div>
    <div class="form-group">
      <input type="password" style="width:10em;" placeholder="Password" class="form-control" ng-model="registerCtrl.user.password">
    </div>
    <button type="submit" class="btn btn-success">Register</button>
  </form>
</div>
